@charset "utf-8";

body{
    /* color:#333333; */
    font-family:"Open Sans",'ヒラギノ角ゴ ProN W3', Hiragino Kaku Gothic ProN, "メイリオ", Meiryo, sans-serif;
    font-size: 16px;
    line-height: 1.5;
}
.header{
    width:100%;
    height:40px;
    background-color:black;
    padding-top: 10px;
    color: white;
    font-size: 30px;
    font-weight: bold;
    padding-left: 30px;
    position:sticky;
}

.concept{
    background-color:white;
    height: 100px;
    width:80%;
    margin:auto;
    padding:5px;
    margin-top:10px;
    margin-bottom:10px;
    overflow:scroll;
    background-color: darkgrey;
}
.send-box{
    padding-top:5px;
    width:100%;
    background:rgb(24, 23, 23);
    margin:auto;
    position:sticky;
}
.text-box{
    margin-top:5px;
    padding-top: 5px;
    padding-left:5px;
    width:80%;
    margin:auto;
    border:solid;
    border-width:0.01px;
    border-color:darkgray;
    border-radius:5px;
    background-color:black;
    color:white;
}

#detail{
    width:87%;
    height:50px;
    margin:auto;
}
#send{
    border:solid;
    border-width:0.01px;
    border-color:darkgrey;
    width: 80px;
    height:60px;
    margin: auto;
    color: black;
    font-size:15px;
    text-align: center;
    text-decoration: none;
    border-radius:5px;
    background:greenyellow; 
    font-style:bold;
}

.textbuttonwrapper{
    display:flex;
    margin-bottom:5px;
}
#send:hover{
    cursor:pointer;
}


.chat-box{
    width:100%;
    height:500px;
    background-color:rgb(24, 23, 23);
    padding-top: 20px;
}
.box{
    margin-top: 30px;
    width:80%;
    margin:auto;
    background-color:rgb(24, 23, 23);
}

#uname{
    width:30%;
    margin:auto;
    border:none;
    background-color:#f2f3f2;
    border-bottom: 2px solid #c8d6c3;
}
#text{
    width:90%;
    border:none;
    background-color:rgb(243, 240, 240);
    border-bottom: 2px solid #c8d6c3;
}
#yesbtn{
    border:solid;
    border-radius:5px;
    border-width:5px;
    border-color:magenta;
}

.posteditem{
   color:white;
   border:solid;
   border-color:greenyellow;
   border-width:0.01px;
   border-radius:5px;
   padding:5px;
   background-color:black;
   margin-top: 10px;
   font-size:14px;
}
.h2{
    padding-top:10px;
    padding-bottom:10px;
    font-weight:bold;
    color:greenyellow
}
.h3{
    font-size:20px
}
  
#uname{
    margin:auto;
}